body, footer {
  background-color: #02132C;
  /*Darkest Blue*/
}

body {
  /*background-color: #02132C;*/
  background-image: url(../images/zach-taiji-90810.jpg);
  background-repeat: no-repeat;
  background-position: center top;
}

header {
  background-color: rgba(2,19,44,0.75);
  margin-top: -10px;
  margin-bottom: 0px;
}

#header-container {
  width: 90%;
  margin: 10px auto 0 auto;
  padding: 10px;
}

#content {
  border-top: 5px solid #193664;
  border-bottom: 5px solid #193664;
  /*Middle Blue*/
  background-color: #082149;
  /*Next Darkest Blue*/
}

#content img {
  width: 100%;
}

#content-container {
  width: 90%;
  margin: 0px auto 30px auto;
  padding: 10px;
}

#footer-container {
  width: 90%;
  margin: 10px auto 10px auto;
  padding: 10px;
}

a.hide {
  visibility: hidden;
}

ul.nav-links {
  display: none;
}

.main-nav:hover .nav-links{
  display: block;
}

/*DESKTOP STYLES
=======================================*/
@media only screen and (min-width: 640px) {

  #header-container {
    width: 50%;
    margin: 10px auto 0px auto;
    padding: 10px;
  }

  #content-container {
    width: 50%;
    margin: 0px auto 30px auto;
    padding: 10px;
  }

  #footer-container {
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 10px;
  }

  ul.nav-links {
    display: inline;
  }

  li.icon-menu {
    display: none;
  }
  .main-nav:hover .nav-links{
    display: inline;
  }
  .icon-icon-menu{
    display: none;
  }
}
