article figure {
  max-width: 150px;
}

nav {
  width: 100%;
}

nav img {
  width: 32px;
  height: 32px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

article {
  margin-bottom: 25px;
}

ul.nav-links, ul.all-icons {
  padding: 0;
}
