* {

}

body {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

/*TEXT STYLES
=======================================*/
p {
  font-size: 1em;
}

nav li {
  display: inline;
  margin-right: 10px;
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
  color: #555;
}

a:hover, a:focus {
  color: #666;
}

a:visited {
  color: #777;
}
