html, body {
  margin: 0;
}

body {
  color: black;
  font-family: sans-serif;
}

img {
  width: 100%;
}

/*TEXT STYLES
=======================================*/

h1 {
  color: #E6F0FF;
  /*white blue*/
}

h2 {
  color: #E1986B;
  /*orange*/
}

h3 {
  color: #E1CB6B;
  /*yellow*/
}

p {
  color: #E6F0FF;
  /*white blue*/
}

p.text-center {
  text-align: center;
}

li {
  color: #E6F0FF;
  /*white blue*/
}

/*LINK STYLES
=======================================*/

a, a:link, a:active {
  text-decoration: none;
}

a:link {
  color: #FFFAE4;
  /*white yellow*/
}

a:active {
  color: ##62539C;
  /*purple*/
}

a:hover, a:focus {
  color: #FFEEE4;
  /*white orange*/
}

a:visited {
  color: #459180;
  /*green*/
}
