body, header, footer {
  background-color: #02132C;
  /*Darkest Blue*/
}

#content {
  border-top: 3px solid #193664;
  border-bottom: 3px solid #193664;
  /*Middle Blue*/
  background-color: #082149;
  /*Next Darkest Blue*/
}

#header-container {
  width: 90%;
  margin: 10px auto 0px auto;
  padding: 10px;
}

#content-container {
  width: 90%;
  margin: 0px auto 30px auto;
  padding: 10px;
}

#footer-container {
  width: 90%;
  margin: 10px auto 10px auto;
  padding: 10px;
}

a.hide {
  visibility: hidden;
}

ul.nav-links {
  display: none;
}

/*DESKTOP STYLES
=======================================*/
@media only screen and (min-width: 640px) {

  #header-container {
    width: 50%;
    margin: 10px auto 0px auto;
    padding: 10px;
  }

  #content-container {
    width: 50%;
    margin: 0px auto 30px auto;
    padding: 10px;
  }

  #footer-container {
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 10px;
  }

  ul.nav-links {
    display: inline;
  }

  li.icon-menu {
    display: none;
  }
}
