.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*DESKTOP STYLES
=======================================*/
@media only screen and (min-width: 640px) {
  body {
    background-color: black;
  }

  #page {
    margin: 0;
  }

  #header-container {
    width: 75%;
    margin: auto;
    background-color: black;
  }

  header {
    background-color: black;
  }

  #content {
    background-color: black;
  }

  #content-container {
    width: 75%;
    margin: auto;
    background-color: black;
  }

  #projects-section {
    overflow: auto;
  }

  .column1 .column2 .column3 {
    width: 33.3%;
    float: left;
    margin: 1%;
    background-color: navy;
  }

  footer {
    background-color: black;
  }

  #footer-container {
    width: 75%;
    margin: auto;
    background-color: black;
  }
}
