/*DESKTOP STYLES
=======================================*/
@media only screen and (min-width: 640px) {

  li.mobile-menu {
    display: none;
  }

  body {
    background-color: white;
  }

  #header-container {
    width: 75%;
    margin: auto;
    background-color: lightblue;
  }

  header {
    background-color: navy;
  }

  #content-container {
    width: 75%;
    margin: auto;
    background-color: lightblue;
  }

  #content {
    background-color: navy;
  }

  #footer-container {
    width: 75%;
    margin: auto;
    background-color: lightblue;
  }

  footer {
    background-color: navy;
  }
}
